<div class="mat-elevation ">
  <mat-form-field class="input-search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field> 
  <h4 style="margin: 20px;">
    Open Tickets
  </h4>
  <mat-divider></mat-divider>
  <table mat-table [dataSource]="dataSource" matSort class="table-hover" >

    <!-- ID Column -->
    <ng-container matColumnDef="Number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="ng-th"> Number </th>
      <td mat-cell *matCellDef="let row"><a mat-button routerLink="/home/ostickets/ticket/{{row.number}}">{{row.number}} </a> </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="Last Update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="ng-th"> Last Update </th>
      <td mat-cell *matCellDef="let row"> {{row.last_Update}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="ng-th"> Subject </th>
      <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
    </ng-container>

    <ng-container matColumnDef="From">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="ng-th"> From </th>
      <td mat-cell *matCellDef="let row"> {{row.from}} </td>
    </ng-container>

    <ng-container matColumnDef="Priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="ng-th"> Priority </th>
      <td mat-cell *matCellDef="let row"> {{row.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="Assigned to">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="ng-th"> Assigned to </th>
      <td mat-cell *matCellDef="let row"> {{row.assigned_to}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>