table {
  width: 100%;
}
.mat-elevation-z8{
  height: 95%;
}
.mat-form-field {
  font-size: 14px;
  width: 40%;
}
td,
th {
  width: 15.3%;
}
th.mat-sort-header-sorted {
  color: black;
}
tr.mat-header-row {
  height: 25px;
}
tr.mat-row {
  height: 35px;
}
.input-search{
  margin-left: 25px;
  margin-top: 10px;
}
.mg-left{
  margin-left: 15px;
}

.ng-th{
  background-color: #eee;
  font-size: 14px;
  color: black;
}
