<div class="container">
  <div class="row ng-container-center">
      <mat-progress-bar *ngIf="loaded" mode="query"></mat-progress-bar>
      <mat-card>
          <img src="../../../../../assets/white.png" class='logo' width="250" />
          <h2>Recuperar contraseña</h2>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ng-form">
              <span>Debe escribir el correo con el que se registro, para enviarle su contraseña</span>
              <mat-form-field class="ng-full-width">
                  <input name="email" matInput [(ngModel)]="form.username" placeholder="Email" [formControl]="emailFormControl" (keyup)="Error()" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      <strong>Correo no válido</strong>
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                      <strong>Correo no válido</strong>
                  </mat-error>
              </mat-form-field>
              <div class="row" style="margin-right:70%;">
                  <a mat-button href="auth/password" color="primary">Volver Atras</a>
              </div>
              <div class="row" style="margin-left:60%; margin-top:10%;">
                  <button [disabled]="isDisabled" mat-raised-button color="primary">Enviar</button>
              </div>
          </form>
      </mat-card>
  </div>
</div>
