
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 100%;
    margin-top: 20px;
  }
 /* .example-header-image {
    background-image: url('../../assets/ost-logo.png');
    background-size: 60px;
  }*/
  .logo{
    width: 30%;
    height: 30%;
  }
  .mat-tab-label-container {
    margin-bottom: 15px;
  }