<div class="container col-lg-10 col-md-offset-1 col-md-10" >
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><img src="../../../../../../assets/ost-logo.png" class='logo' /></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
          <mat-tab label="Dashboard"></mat-tab>
          <mat-tab label="Users">  </mat-tab>
          <mat-tab label="Tickets" >
            <tickets-view-menu></tickets-view-menu>
          <mat-divider></mat-divider>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
  </mat-card>
</div>