<nav class="ng-nav">
  <img class="navbar-brand mb-0 h1" src="../../../../assets/Logo.png" />
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a mat-button routerLink="#quienes_somos" color="accent">Nosotros</a>
    </li>
    <li class="nav-item">
      <a mat-button href="#farmanet" color="accent">Farmanet</a>
    </li>
    <li class="nav-item">
      <a mat-button href="#servicios" color="accent">Servicios</a>
    </li>
    <li class="nav-item">
      <a mat-button href="#blog" color="accent">Blog</a>
    </li>
    <li class="nav-item">
      <a mat-button href="#contactanos" color="accent">Contactanos</a>
    </li>
    <li class="nav-item">
      <button mat-stroked-button>Registrarse</button>
    </li>
    <li class="nav-item">
      <button (click)="login()" mat-stroked-button>Iniciar Sesión</button>
    </li>
  </ul>
</nav>
