.ng-nav {
    position: absolute;
    z-index: 1;
    left: 12%;
    margin-top: 15px;
    width: 80%;
}
.navbar-brand {
    position: absolute !important;
    width: 100px;
}
li.nav-item {
    margin-right: 30px;
}
.mat-stroked-button {
    color: #ffffff;
    line-height: 25px;
    width: 120px;
    border-color: #ffffff;
    height: 25px;
}
@media screen and (max-width: 1200px) {
    .ng-nav {
        width: 90%;
        left: 10%;
    }
    li.nav-item {
        margin-right: 15px;
    }
    .mat-stroked-button {
        width: 110px;
    }

}