<div class="mat-elevation" *ngIf="showDetails">
  <h4 style="margin: 10px 20px; color: #184E81;">
      Tickets #{{ticketsData.ticket_number}}
  </h4>
  <h4 class="ng-hsubject" >
      {{ticketsData.subject}}
  </h4>
  <mat-divider></mat-divider>
  <div class="jumbotron container ng-jumb" >
    <div class="ng-data-ticket col-md-2 col-sm-2 col-xs-5">
        <p class="ng-pdata">Status: </p>
        <p class="ng-pdata">Priority: </p>
        <p class="ng-pdata">Department: </p>
        <p class="ng-pdata">Create Date: </p>
        <p class="ng-pdata">Assigned To: </p>
        <p class="ng-pdata">Due Date: </p>
    </div>
    <div class="ng-data-ticket  col-md-3 col-sm-3 col-xs-5">
        <p class="ng-cdata">{{ ticketsData.ticket_status }}</p>
        <p class="ng-cdata">{{ ticketsData.priority }}</p>
        <p class="ng-cdata">{{ ticketsData.department }}</p>
        <p class="ng-cdata">{{ ticketsData.create_timestamp }}</p>
        <p class="ng-cdata">{{ ticketsData.assigned_to[0].name }}</p>
        <p class="ng-cdata">{{ ticketsData.due_timestamp }}</p>
    </div>
    <div class="ng-data-ticket-2 col-md-2 col-sm-2 col-xs-5">
        <p class="ng-pdata">User: </p>
        <p class="ng-pdata">Email: </p>
        <p class="ng-pdata">Source: </p>
        <p class="ng-pdata">Help Topic: </p>
        <p class="ng-pdata">Last Message: </p>
    </div>
    <div class="ng-data-ticket-2 col-md-3 col-sm-3 col-xs-5">
        <p class="ng-cdata">{{ ticketsData.user_name }}</p>
        <p class="ng-cdata">{{ ticketsData.user_email.address }}</p>
        <p class="ng-cdata"> {{ ticketsData.source }}</p>
        <p class="ng-cdata">{{ ticketsData.help_topic }}</p>
        <p class="ng-cdata">{{ ticketsData.last_message_timestamp }}</p>
    </div>  
  </div>
  <mat-card class="ng-card" >
      <mat-card-title class="ng-header">{{ threadEntries[0].model.poster }} posted {{ ticketsData.due_timestamp }}  {{ threadEntries[0].model.title }}</mat-card-title>
      <mat-card-content>{{ threadEntries[0].model.message.body }}</mat-card-content>
  </mat-card>
  <ul class="timeline" *ngFor="let th_entries of threadEntries">
      <li class="timeline-inverted" *ngIf=" th_entries.model.type == 'M'">
        <div class="timeline-badge success"><i class="glyphicon glyphicon-edit"></i></div>
        <div class="label">
            <p class="ng-wd"><small class="text-muted "><h6>Created by {{ ticketsData.assigned_to[0].name }} {{ ticketsData.create_timestamp }}</h6></small></p>
        </div>
      </li>
      <li class="timeline-inverted" *ngIf=" th_entries.model.type == 'M'">
        <div class="timeline-badge warning"><i class="glyphicon glyphicon-hand-right"></i></div>
        <div class="label">
              <p class="ng-wd"><small class="text-muted"><h6>SYSTEM assigned this to {{ ticketsData.assigned_to[0].name }} {{ threadEntries[0].model.created }}</h6></small></p>
        </div>
      </li>
      <li class="timeline-inverted" *ngIf=" th_entries.model.type == 'R'">
        <div class="timeline-badge "></div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                    <h6 class="timeline-title">{{ th_entries.model.poster }} posted {{ th_entries.model.created }}</h6>
            </div>
            <div class="timeline-body">
              <p><small class="text-muted">{{ th_entries.model.message.body }}</small></p>
            </div>
        </div>
      </li>
      <li class="timeline-inverted" *ngIf="showReply(th_entries.model.type,ticketsData.ticket_status)">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="label">
                  <p class="ng-wd"><small class="text-muted"><h6>Closed by SYSTEM with status of Closed {{ th_entries.model.created }}</h6></small></p>
            </div>
      </li>
      <!-- <li class="timeline-inverted" *ngIf="!showReply(th_entries.model.type,ticketsData.ticket_status)">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="label">
                  <p class="ng-wd"><small class="text-muted"><h6>Reopen by SYSTEM {{th_entries.model.created}}</h6></small></p>
            </div>
      </li> -->
  </ul> 
  <mat-divider class="col-sm-10 col-xs-10"></mat-divider>
  <h4 style="margin: 20px;">
        Post Reply
    </h4>
    <mat-divider class="col-sm-10 col-xs-10"></mat-divider>
    <form class="ng-form-reply">
      <mat-form-field class="ng-field">
        <input matInput type="text"  [(ngModel)]="ticketsReply.emailreply" [ngModelOptions]="{ standalone: true }" placeholder="To" disabled>
      </mat-form-field>
       <mat-form-field class="form-group">
        <textarea matInput type="text" [(ngModel)]="ticketsReply.response" [ngModelOptions]="{ standalone: true }"  placeholder="response"></textarea>
      </mat-form-field>
      <mat-form-field class="ng-field">
        <mat-select placeholder="Ticket Status" [(ngModel)]="ticketsReply.reply_status_id" [ngModelOptions]="{ standalone: true }">
            <mat-option value="1">Open</mat-option>  
            <mat-option value="3" >Closed</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="form-group">
        <button mat-raised-button color="primary" class="ng-btn-reply" (click)="postReply()">Post Reply</button>
      </div>
    </form>   
</div>
