<div class="container">
  <div class="row">
    <div class="ng-text-center">
      <h1>Error 404</h1>
      <h3>La pagina {{ url }} <span>No Existe</span></h3>
      <a mat-button href="auth/login" color="primary">Volver Atras</a>
    </div>
  </div>
</div>
