<div class="container">
    <div class="row ng-container-center">
        <mat-progress-bar *ngIf="loaded" mode="query"></mat-progress-bar>
        <mat-card>
            <img src="../../../../../assets/white.png" class='logo' width="250" />
            <h1>Register</h1>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ng-form">
                <mat-form-field class="ng-full-width">
                    <input name="email" (keyup)="ErrorE()" matInput [(ngModel)]="form.email" placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="ng-full-width">
                    <input matInput placeholder="Password" (keyup)="ErrorP()" type="password" name="password" [(ngModel)]="form.password" [formControl]="passFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="passFormControl.hasError('maxlength.requiredLength')">
                        The Max Length is <strong>7</strong>
                    </mat-error>
                    <mat-error *ngIf="passFormControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="row" style="margin-right:70%;">
                    <a mat-button href="/home/dashboard" color="primary">Atras</a>
                </div>
                <div class="row" style="margin-left:60%;">
                    <button [disabled]="isDisabled" mat-raised-button color="primary">Registed</button>
                </div>
                <div>
                    <mat-error *ngIf="f.submitted && isSignUpFailed">
                        Registed Failed <strong>{{errorMessage}}</strong>
                    </mat-error>
                </div>
            </form>
        </mat-card>
    </div>
</div>