.ng-container-center{
    position: fixed;
    left: 50%;
    top: 15%;
    margin-left: -200px;
    isolation: isolate;
    width: 400px;
    padding: 1em;
    padding-bottom: 1em;
    text-align: center;
}
.ng-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-top: 30px; 
}

.ng-full-width {
  width: 100%;
}