<div class="col-md-6">
  <div class="ng-text-center">
    <h1>Contáctanos</h1>
  </div>
  <div class="ng-container-left">
    <img src="../../../../assets/adult-b-boss-618613 copia.png" alt="contactanos">
  </div>
</div>
<div class="col-md-6 ng-back-black">
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="tel" matInput placeholder="Telefono">
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Mensaje"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent">Enviar</button>
  </div>
</div>