.example-form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-top: 10%;
}
.example-full-width {
  width: 80%;
}
.mat-raised-button {
    width: 25%;
    margin-top: 10px;
}
.ng-text-center {
  width: 400px;
  position: absolute;
  color: #ffffff;
  margin: 25%;
  background-color: rgba(0, 0, 0, 0.73);
}
.ng-text-center h1 {
  font-size: 4.9rem;
}
textarea  {
  height: 200px;
}
.ng-container-left {
  margin-left: -0.3em;
}
.ng-container-left > img {
  height: 100%;
}
.ng-back-black  {
  background-color: #000;
  position: initial;
  z-index: 1;
}
.mat-icon {
  color: #ffffff;
}
::ng-deep .mat-form-field .mat-input-element {
  color: #ffffff;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: #ffffff!important;
}
::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: #ffffff;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: #ffffff;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
  color: #ffffff;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff884d!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: #ff884d;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: #ff884d;
}

@media screen and (max-width: 1200px) {
  .ng-container-left > img {
    width: 550px;
    height: 350px;
  }
  .ng-container-left {
    margin-left: -1.9em;
  }
  .example-full-width {
    width: 75%;
  }
  .example-form {
    margin-left: 25%;
    margin-top: 5%;
  }
  textarea  {
    height: 100px;
  }  
}
