<router-outlet>
    <div class="container ng-container-flex">
        <div class="row">
            <div class="col-md-6">
                <div class="ng-container-left">
                    <div *ngIf="isLoggedIn; else loggedOut">
                        Cargando...
                    </div>
                    <ng-template #loggedOut>
                        <div class="row ng-container-center">
                            <mat-progress-bar *ngIf="loaded" mode="query"></mat-progress-bar>
                            <mat-card>
                                <img src="../../../../../assets/white.png" class='logo' width="100" style="margin-bottom:25px;" />
                                <h1>Bienvenido</h1>
                                <p class="ng-text-center">{{ email }}</p>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ng-form">
                                    <mat-form-field class="ng-full-width">
                                        <input matInput placeholder="Contraseña" type="password" id="password" name="password" [(ngModel)]="form.password" [formControl]="passFormControl" [errorStateMatcher]="matcher">
                                        <mat-error *ngIf="passFormControl.hasError('maxLength')">
                                            The Max Length is <strong>7</strong>
                                        </mat-error>
                                        <mat-error *ngIf="passFormControl.hasError('required')">
                                            La contraseña <strong>es requerida</strong>
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="row" style="text-align:left">
                                        <a mat-button href="auth/forgot-password" class="ng-link" color="primary">¿Se te olvido tu contraseña?</a>
                                    </div>
                                    <div class="row" style="margin-left:60%;">
                                        <button mat-raised-button color="primary" id="entrar">Entrar</button>
                                    </div>
                                </form>
                            </mat-card>
                        </div>
                    </ng-template>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="ng-container-rigth">
                            <img class="ng-image-login img-fluid" src="../../../../../assets/back@2x.png" alt="white-hat">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</router-outlet>