html,
body {
    height: 100% !important;
    background-color: #eee !important;
    margin: 0 !important;
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.ng-container-flex {
    display: block;
    flex-direction: row;
}

.mat-card {
    width: 400px;
    text-align: center;
    box-shadow: none;
}

.ng-container-flex .ng-container-left {
    position: fixed;
    left: 10%;
    top: 15%;
    z-index: 1;
}

.ng-container-flex .ng-container-rigth {
    position: fixed;
}

.ng-container-flex .ng-container-rigth>img {
    display: block;
    margin-left: auto;
    width: 61%;
    height: auto;
}

.ng-container-flex .ng-container-rigth .ng-image-login {
    /* Asignamos una altura mínima */
    min-height: 400px;
    background-size: cover;
    background-position: center;
}

.ng-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
}

.ng-full-width {
    width: 100%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #A4A4A4;
    font-size: 29px;
}

.mat-raised-button {
    background-image: linear-gradient(#000000, #4D4D4D);
    width: 110px;
}

.ng-link {
    color: #178ED4;
}

.ng-link-black {
    color: #000000;
}

.ng-text-center {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #A4A4A4;
    font-size: 19px;
}

.ng-input-email {
    color: #FFFFFF;
    border: #EBEBEB 1px;
    margin: 10px 10px 10px 10px;
}

@media screen and (min-height: 700px) {
    .ng-container-flex .ng-container-left {
        position: fixed;
        left: 5%;
        top: 15%;
        z-index: 1;
    }
    .ng-container-flex .ng-container-rigth>img {
        display: block;
        margin-left: auto;
        width: 70%;
        height: auto;
    }
}