<div class="mat-elevation-z8 ">
    <div class="h-opciones ng-left">
        <a mat-button routerLink="tickets/Open">Open({{ numOpen }})</a>
        <a mat-button routerLink="tickets/Open">My Tickets({{ numOpen }})</a>
        <a mat-button routerLink="tickets/Closed">Closed</a>
        <a mat-button routerLink="new-ticket">New Ticket</a>
    </div>
    <mat-divider></mat-divider>
    <router-outlet></router-outlet>
</div>    
