h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.ng-container-rigth>img {
    width: 1076px;
}
.ng-container-left>img {
    width: 1000px;
}
.ng-container-left {
    z-index: 1;
    position: absolute;
    top: 15%;
    left: -60%;
}
.ng-text-up {
    width: 600px;
    color: #ffffff;
    position: absolute;
    top: 40%;
    right: 25%;
    text-align: right;
    z-index: 1;
}
.ng-text-bottom{
    width: 600px;
    color: #ffffff;
    position: absolute;
    top: 60%;
    right: 25%;
    text-align: right;
    z-index: 1;
}
h1 {
    font-size: 70px;
    line-height: 0.8em;
}
h2 {
    font-size: 35px;
}
.ng-button {
    position: absolute;
    top: 66%;
    right: 20%;
    width: 50%;
    z-index: 1;
}
.mat-raised-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 200px;
    height: 35px;
    font-size: x-large;
}
div#farmanet {
    margin-left: 10%;
}
@media screen and (max-width: 1200px) {
    .ng-text-up {
        width: 400px;
        right: 10%;
    }
    .ng-text-bottom{
        width: 400px;
        top: 59%;
        right: 10%;
    }
    .ng-container-left {
        right: 50px;
        z-index: 1;
    }
    .ng-container-rigth>img {
        width: 826px;
    }
    .ng-container-left>img {
        width: 800px;
    }
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
    }
    .ng-container-text {
        position: relative;
    }
    .ng-button {
        position: absolute;
        top: 66%;
        right: 3%;
        width: 50%;
    }
    .mat-raised-button {
        width: 120px;
        font-size: 14px;
        padding: 0px;
    }
}