<div style="max-width: 100%;"> 
  <app-nav></app-nav>
  <div id="inicio">
    <div class="container-fluid"> 
      <div class="row">
        <div class="col-sm-5 col-md-2">
          <div class="ng-container-left">
            <img src="../../../assets/pc.png" alt="pc">
          </div>
        </div>
        <div class="col-md-10">
          <div class="ng-container-rigth">
            <img src="../../../assets/back.svg" alt="fondo">
            <div class="ng-text-up">
                <h1>INGRESA Y MONITOREA TU FARMACIA</h1>
            </div>
            <div class="ng-text-bottom">
                <h2>DESDE CUALQUIER PARTE</h2>
            </div>
            <div class="row ng-button">
              <div class="col-md-6">
                  <a href="auth/register-data" mat-raised-button color="accent">Registrate</a>
              </div>
              <div class="col-md-6">
                  <a href="auth/login" mat-raised-button color="accent">Iniciar Sesión</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="farmanet" style="margin-top:5%">
    <app-farmanet style="display: contents;"></app-farmanet>
  </div>
  <div class="container" id="servicios" style="margin-top:5%">
    <app-servicios></app-servicios>
  </div>
  <div class="row" id="quienes_somos" style="margin-top:10%">
    <app-quienes-somos style="display: contents;"></app-quienes-somos>
  </div>
  <div class="row" id="contactanos" style="margin-top:5%">
    <app-contactanos style="display: contents;"></app-contactanos>
  </div>
  <div class="row" style="margin-top:5%">
    <app-footer style="width: 100%; height: 100%;"></app-footer>
  </div>
</div>
