<div class="row">
  <div class="col-md-5">
    <div class="ng-text-left">
      <h1 class="text-right">¿QUIÉNES SOMOS?</h1>
    </div>
    <div class="ng-text-p-left">
      <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi repellat, non deleniti quibusdam assumenda cumque. Debitis dignissimos perferendis laboriosam, accusamus aut eius at explicabo eveniet mollitia nostrum architecto, dicta rem.</p>
      <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi repellat, non deleniti quibusdam assumenda cumque. Debitis dignissimos perferendis laboriosam, accusamus aut eius at explicabo eveniet mollitia nostrum architecto, dicta rem.</p>
    </div>
  </div>
  <div class="col-md-7">
    <img class="img-fluid" src="../../../../assets/adults-brainstorming-business-1595385.png" alt="quienes somos" height="360">
  </div>
</div>