.ng-text-left {
    position: relative;
    top: 15%;
    left: 16%;
    z-index: 1;
    background-color: #fff;
    width: 620px;
    color: #827f7f;
}
.ng-img > img{
    width: 100%;
}
h1 {
    font-weight: 600;
    font-size: 4.1rem;
}
.ng-text-p-left {
    position: relative;
    top: 18%;
    left: 24%;
    color: #A4A4A4;
    width: 445px;
}
p {
    font-family: 'Open Sans';
    line-height: 1.1;
}
.ng-back-black {
    background-color: black;
}
@media screen and (max-width: 1200px) {
    .ng-img > img{
        height: 290px;
    }
    h1 { 
        font-size: 3.1rem;
    }
    .ng-text-left  {
        left: -26%;
    }
    .ng-text-p-left {
        left: 1%;
        width: 400px;
    }
    p {
        line-height: 0.8;
    }
  }