h1, h6 {
    color: #A4A4A4;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h6 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.3rem;
}
@media (min-width: 768px) {
    .col-md-8 {
        margin-top: 10px;
        max-width: 63.666667%;
    }
}