<div class="col-md-12">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>NUESTROS SERVICIOS</h1>
    </div>
    <div class="col-md-8">
      <h6 class="text-center">Además de ofrecer productos tangibles que ayudan a optimizar el funcionamiento de su farmacia, ofrecemos una cantidad importante de servicios que garantizan una infraestructura segura y confiable.</h6>
    </div>
  </div>
  <div class="row justify-content-md-center" style="margin-top:10%">
    <div class="col-6 col-md-4">
      <img src="../../../../assets/Grupo 16.svg" alt="">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor.</p>
    </div>
    <div class="col-6 col-md-4">
      <img src="../../../../assets/Grupo 21.svg" alt="" width="300">
    </div>
    <div class="col-6 col-md-4">
      <img src="../../../../assets/Grupo 26.svg" alt="" width="300">
    </div>
  </div>
  <div class="row justify-content-md-center" style="margin-top:10%">
    <div class="col-6 col-md-4">
      <img src="../../../../assets/Grupo 19.svg" alt="" width="350">
    </div>
    <div class="col-6 col-md-4">
      <img src="../../../../assets/Grupo 24.svg" alt="" width="300">
    </div>
    <div class="col-6 col-md-4">
      <img src="../../../../assets/Grupo 31.svg" alt="" width="300">
    </div>
  </div>
</div>
