<div class="row">
  <div class="col-md-6 col-sm-12">
    <img class="ng-image" src="../../../../assets/Farmanet.png" alt="pc">
    <div class="ng-image-back">
        <img src="../../../../assets/Grupo38.svg" alt="farmanet">
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="ng-container-text">
      <h1>Disfruta del mejor</h1>
      <h1>sistema en administración</h1>
      <h1 style="font-size: 35px;">farmacéutica</h1>
      <div class="ng-text-p">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Similique, sint? Reprehenderit laborum possimus dignissimos 
            saepe natus nam unde quam tempore ducimus, quod vel sed animi consequuntur? 
            Omnis earum eius molestias?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Perferendis laboriosam sapiente molestias non minima ipsa unde sequi, 
            blanditiis illo eligendi excepturi.
        </p>
      </div>
      <button mat-raised-button color="primary">Afiliate Aqui</button>  
    </div>
  </div>
</div>
