.ng-image {
    width: 700px;
    margin: 7%;
    margin-left: -15%;
}
.ng-container-text {
    text-align: left;
    margin-top: 10%;
    margin-left: 10%;
}
.ng-container-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 0.9em;
    color: #0F6189;
    width: 500px;
}
.ng-text-p {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 13px;
    margin-top: 5%;
    width: 400px;
}
.mat-raised-button {
    background-image: linear-gradient(#0D7195, #1279AB);;
    color: #ffffff;
    font-size: large;
}
.ng-image-back {
    position: absolute;
    top: -2%;
    left: 40%;
    z-index: -1;
}
.ng-image-back img {
    width: 280px;
}

@media screen and (max-width: 1200px) {
    .ng-image {
        width: 600px;
        margin: 16%;
        margin-left: -25%;
    }
    .ng-image-back {
        top: 1%;
        left: 40%;
    }
    .ng-image-back img {
        width: 250px;
    }
    .ng-container-text h1 {
        font-size: 30px;
        width: 400px;
    }
    .ng-text-p {
        width: 350px;
    }
}