<div class="ng-background row">
  <div class="col-md-4">
    <div class="container">
      <p><mat-icon matSuffix>place</mat-icon>
      Lorem ipsum dolor sit amet 51Av.
      </p>
      <p><mat-icon matSuffix>email</mat-icon>
        soporte@white-hat.com.ve
      </p>
      <p><mat-icon matSuffix>stay_current_portrait</mat-icon>
        0424-554-55422
      </p>
    </div>
  </div>
  <div class="col-md-4">
      <div class="text-center" style="margin-top:20%;">
        <img src="../../../../assets/Facebook.png" width="30" alt="...">
        <img src="../../../../assets/instagram.png" width="30" alt="...">
        <img src="../../../../assets/twitter.png" width="30" alt="...">
        <p>Copyright © 2019, WhiteHat</p>
      </div>        
  </div>
  <div class="col-md-4" style="margin-top: 15px;">
    <div class="text-center">
      <a mat-button href="">Nosotros</a>
    </div>
    <div class="text-center">
      <a mat-button href="">Farmanet</a>
    </div>
    <div class="text-center">
      <a mat-button href="">Servicios</a>
    </div>
    <div class="text-center">
      <a mat-button href="">Blog</a>
    </div>
    <div class="text-center">
     <a mat-button href="">Contactanos</a>
    </div>
  </div>   
</div>
