.ng-background {
    background-image: linear-gradient(#000000, #4D4D4D);
}
p {
  color: #ffffff;
  font-size: small;
}
.text-center > img {
    margin-right: 15px;
}
.text-center p {
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    .ng-background {
        height: 210px;
    }
    .container p {
        position: relative;
        top: 50px;
        left: 25%;
    }
    .text-center > img {
        margin-right: 20px;
    }
    .mat-button {
        color: #ffffff;
    }
}