<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="ng-container-left">
                <img src="../../../../../assets/white.png" class='logo' width="100" style="margin-bottom:25px;" />
                <h1>Inicia Sesion</h1>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="ng-form">
                    <p class="ng-text-center">Utiliza tu correo electronico</p>
                    <mat-form-field class="ng-full-width">
                        <mat-icon matSuffix>person_outline</mat-icon>
                        <input name="email" id="email" matInput [(ngModel)]="form.username" placeholder="Usuario o Correo Electronico" [formControl]="emailFormControl" (keyup)="Error()" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            <strong>Correo no válido</strong>
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            <strong>Correo no válido</strong>
                        </mat-error>
                    </mat-form-field>
                    <div class="row" style="text-align: left;">
                        <a href="" class="ng-link">¿Has olvidado tu correo electrónico?</a>
                    </div>
                    <div class="row" style="margin-top:15%">
                        <div class="col-md-6">
                            <a class="ng-link-black" href="">Crear Cuenta</a>
                        </div>
                        <div class="col-md-6">
                            <mat-spinner *ngIf="loaded" class="ng-spinner" [diameter]="50" color="primary"></mat-spinner>
                            <button *ngIf="!loaded" mat-raised-button id="siguiente">Siguiente</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="ng-container-rigth">
                <img class="ng-image-login img-fluid" src="../../../../../assets/Loginback.png" alt="white-hat">
            </div>
        </div>
    </div>
</div>