<mat-toolbar *ngIf="navbar" color="primary">
    <mat-toolbar-row>
        <a mat-button routerLink="dashboard"><span>{{ title }}</span></a>
        <span class="example-spacer"></span>
        <a mat-button routerLink="dashboard">Inicio</a>
        <a *ngIf="authority == 'admin'" mat-button routerLink="ostickets">OsTickets</a>
        <a *ngIf="authority == 'admin'" mat-button routerLink=".">Licencias</a>
        <a *ngIf="authority == 'admin'" mat-button routerLink="register">Registrar Usuario</a>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon> 
          </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <span>{{ email }}</span>
              </button>
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <a routerLink="perfil" color="primary"><span>Perfil</span></a>
            </button>
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <a (click)="salir()" href="auth/login" color="primary"><span>Salir</span></a>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>