<div class="container">
  <div class="row ng-container-center">
      <mat-card>
          <img src="../../../../../assets/white.png" class='logo' width="250" />
          <h1>Perfil</h1>
      </mat-card>
  </div>
</div>
