<div class="mat-elevation">
  <h4 style="margin: 20px;">
      Create Tickets
  </h4>
  <mat-divider></mat-divider>
  <form class="ng-form">
    <mat-form-field class="form-group">
      <input matInput type="text" [(ngModel)]="ticketsDetails.name" [ngModelOptions]="{standalone: true}" placeholder="FullName">
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput placeholder="Email" [formControl]="emailFormControl" 
             [errorStateMatcher]="matcher" [(ngModel)]="ticketsDetails.email" >
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="text" [(ngModel)]="ticketsDetails.phone"  [ngModelOptions]="{standalone: true}" placeholder="Phone">
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="text" [(ngModel)]="ticketsDetails.subject"  [ngModelOptions]="{standalone: true}" placeholder="Subject">
    </mat-form-field>
    <mat-form-field class="form-group">
      <textarea matInput type="text" [(ngModel)]="ticketsDetails.message"  [ngModelOptions]="{standalone: true}" placeholder="Message"></textarea>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput type="text" [(ngModel)]="ticketsDetails.assignee" [ngModelOptions]="{standalone: true}" placeholder="Assign to">
    </mat-form-field>
    <div class="form-group ">
      <button mat-raised-button color="primary" class="ng-btn-create" (click)="addTickets()">Open Tickets</button>
    </div>
  </form>
</div>
