@import '~@angular/material/theming';


@include mat-core();

$my-theme-primary: mat-palette($mat-grey);
$my-theme-accent:  mat-palette($mat-grey, A100);
$my-theme-warn:  mat-palette($mat-red);
$my-theme-theme:   mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

@include angular-material-theme($my-theme-theme);
