.ng-container-left {
    width: 400px;
    text-align: center;
    margin-left: 20%;
    margin-top: 30%;
}

.ng-container-rigth {
    position: fixed;
}

.ng-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 30px;
}

.ng-full-width {
    width: 100%;
}

h1 {
    text-align: center;
    color: #A4A4A4;
    font-size: 29px;
}

.mat-raised-button {
    color: #FFFFFF;
    background-image: linear-gradient(#000000, #4D4D4D);
    width: 110px;
}

.ng-spinner {
    left: 65px;
    top: -10px;
}

.ng-link {
    color: #178ED4;
}

.ng-link-black {
    color: #000000;
}

.ng-text-center {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #A4A4A4;
    font-size: 19px;
}

.ng-input-email {
    color: #FFFFFF;
    border: #EBEBEB 1px;
    margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 1200px) {
    .ng-container-left {
        position: absolute;
        left: -6%;
        z-index: 1;
        width: 300px;
        margin-top: 0%;
    }
}